.Home h1 {
  text-align: center;
}
.Detail {
  text-align: center;
}
.Detail table {
  margin: 0 auto;
}
.Details-box {
  margin: 2% 20%;
  padding: 2%;
  background: linear-gradient(to bottom, rgb(130, 224, 162), rgb(64, 190, 174));
  border: 1px solid black;
  box-shadow: 5px 10px black;
}
